<template name="dashboard">
	<div class="twelvecol">
		<h1 align="center" style="color:orange">{{profile/fname}} {{profile/lname}}!</h1>

		{{{accountTypeDashboard}}}
		

	</div>
</template>

<template name="studentDashboard">

	<div class="sixcol">
		<div class="container twelvecol">
			<p align="center" style="color:orange"><strong>My Messages</strong></p>
			<p>message from: (recruiter name w/ link), short message preview</p>
			<p>message 2.... continued</p>
		</div>
		<div class="container twelvecol">
			<p align="center" style="color:orange"><strong>account info</strong></p>
			<p>change password</p>
			<p>name</p>
			<p>primary e-mail</p>
		</div>
	</div>
	<div class="sixcol last">
		<p align="center" style="color:orange"><strong>Job Tracker/Analytics</strong></p>
		<img src="/images/chart.png">
	</div>

</template>

<template name="recruiterDashboard">
	<div class="sixcol">
		{{> createJob}}
	</div>

	<div class="sixcol last">
		{{> jobList}}
	</div>
</template>

<template name="facultyDashboard">
	<div class="twelvecol">
		<h1>faculty</h1>
	</div>
</template>


<template name="createJob">
	<h2>Create Job/Intership Post</h2>
	<label for="jname">Job/Internship Name</label>
	<input type="text" name="jname" id="jname" />

	<label for="title">Title</label>
	<input type="text" name="title" id="title" />

	<label for="description">Description</label>
	<input type="text" name="description" id="description" />

	<label for="expdate">Post Expiration Date</label>
	<input type="text" name="expdate" id="expdate" />

	<label for="major">Major</label>
	<input type="text" name="major" id="major" />

	<label for="skill1">Skill 1</label>
	<input type="text" name="skill2" id="skill1" />

	<label for="skill2">Skill 2</label>
	<input type="text" name="skill2" id="skill2" />

	<label for="skill3">Skill 3</label>
	<input type="text" name="skill3" id="skill3" />


	<button class="submit">POST!</button>
</template>

<template name="jobList">
	<h1>Job/Internship List</h1>
		{{#each populateJobsList}}
			<p>jname: {{jname}}</p>
			<p>title: {{title}}</p>
			<p>description: {{description}}</p>
		{{/each}}
</template>


