<template name="dashboard">
	<div class="twelvecol">
		<h1 align="center" style="color:orange">{{profile/fname}} {{profile/lname}}!</h1>

		<h1>Recieved Messages</h1>
		<table>
			{{#each recievedMessages}}
				<tr>
					<td>{{senderId}}</td>
					<td>{{recieverId}}</td>
					<td>{{title}}</td>
					<td>{{message}}</td>
				</tr>
			{{/each}}
		</table>

		<h1>Sent Messages</h1>
		<table>
			{{#each sentMessages}}
				{{title}}
			{{/each}}
		</table>

		{{{accountTypeDashboard}}}
		
	</div>
</template>

<template name="studentDashboard">
	<div class="twelvecol">
		<div class="twelvecol">
			<div class="fourcol">
				<h1>JOB MATCH</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
			<div class="eightcol last">
			    <div class="twelvecol">
			        <h4>Recieved Messages</h4>
					

					<h4>Sent Messages</h4>
				</div>
			    <div class="twelvecol">
			        <h1>Job Tracker</h1>
			        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			    </div>
			</div>
			<div class="twelvecol">
				<h1>Companies You are Following</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
			<div class="twelvecol">
				<h1>Upcoming Events</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
	    </div>
	</div>
</template>

<template name="recruiterDashboard">

	<div class="sixcol last">
		{{> jobList}}
	</div>
</template>

<template name="facultyDashboard">
	<div class="twelvecol">
		<h1>faculty</h1>
	</div>
</template>

<template name="jobList">
	<h2>Job/Internship List</h2>
		{{#each populateJobsList}}
			<p>title: {{title}}</p>
			<p>description: {{description}}</p>
		{{/each}}
</template>
