<template name="edit">
    <a href="#" class="save">Save</a>
	<div class="profile">
		<div class="info row">
			<div class="fourcol image">
				<img src="{{user/profile/avatar}}" alt="student"/>
				<input type="filepicker" id="attachment">
			</div>
			<div class="eightcol last">
				<h3>Welcome {{emails/0/address}}!</h3>
				<ul>
					<li><input type="text" placeholder="first name" id="fname" value="{{user/profile/fname}}"> <input type="text" placeholder="last name" id="lname" value="{{user/profile/lname}}"></li>
					<li><input type="text" placeholder="school" id="school" value="{{user/profile/school}}"></li>
					<li><input type="text" placeholder="major" id="major" value="{{user/profile/major}}"></li>
					<li><input type="text" placeholder="graduation year" id="grad-year" value="{{user/profile/gradYear}}"></li>
					<li><textarea id="about">{{user/profile/about}}</textarea></li>
					<li><input type="text" placeholder="video embed code" id="video" value="{{user/profile/video}}"></li>
					<li><input type="text" placeholder="hours worked" id="work-experience" value="{{user/profile/workExperience}}"></li>
				    <li><input type="text" placeholder="skills" id="skills" value="{{user/profile/skills}}"></li>
					<li><input type="text" placeholder="hours on external projects" id="external-experience" value="{{user/profile/externalExperience}}"></li>
			        <li><input type="text" placeholder="email" id="contact-email" value="{{user/profile/contactEmail}}"></li>
			        <li><input type="text" placeholder="phone" id="phone" value="{{user/profile/phone}}"></li>
			        <li><input type="text" placeholder="address" id="address" value="{{user/profile/address}}"></li>
			        <li><input type="text" placeholder="website" id="website" value="{{user/profile/website}}"></li>

				</ul>
			</div>
		</div>
	</div>
</template>
