<template name="edit">
	<div class="profile">
		<div class="info row">
			<div class="fourcol image">
				<img src="/images/student.jpg" alt="student"/>
			</div>
			<div class="eightcol last">
				<h3>Welcome {{emails/0/address}}!</h3>
				<ul>
					<li><input type="text" placeholder="first name"> <input type="text" placeholder="last name"></li>
					<li><input type="text" placeholder="school"></li>
					<li><input type="text" placeholder="major"></li>
					<li><input type="text" placeholder="graduation year"></li>
				</ul>
			</div>
			<a href="{{pathFor 'edit' _id=_id}}">Edit</a>
		</div>
		<div class="resume row">
			<div class="twelvecol">
				<ul class="resume-nav">
					<li><a href="#">Showcase</a></li>
					<li><a href="#">Experience</a></li>
					<li><a href="#">School</a></li>
					<li><a href="#">Skills</a></li>
					<li><a href="#">Extra</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="resume-section">
					{{{resumeSection}}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="editShowcase">
	<div class="showcase">
		<div class="fivecol">
			<h2>About Me</h2>
			<textarea></textarea>
		</div>
		<div class="sevencol last">
			<input type="text" placeholder="video embed code">
		</div>
	</div>
</template>

<template name="editExperience">
	<div class="experience">
		<h2>Work Experience</h2>
		<input type="text" placeholder="company">
		<input type="text" placeholder="title">
		<input type="text" placeholder="description">
		<button>+</button>
	</div>
</template>

<template name="editSchool">
	<h2>School Experience</h2>
	<div class="twelvecol">
		<h3>Projects</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, odit et a! Soluta, totam, optio, voluptates natus ratione id officia doloribus ab nostrum molestias et neque obcaecati sint fugit sed.</p>
	</div>
	<div class="twelvecol">
		<h3>Classes</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, aspernatur, neque, architecto placeat alias itaque optio facere eligendi minima iure odit fuga perspiciatis magni animi facilis adipisci eveniet. Quo, quis.</p>
	</div>
	<div class="twelvecol">
		<h3>Clubs/Organizations</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, ex, perspiciatis nisi delectus amet adipisci quaerat tempore quod pariatur quibusdam doloremque suscipit ipsa perferendis. Optio enim corrupti veritatis odit quas!</p>
	</div>
</template>

<template name="editSkills">
    <h2>Skills</h2>
               
    <div class="twelvecol">
            <!--filler format -->
            <div class="threecol">
                    <p>Java</p>
                    <br>
                    <p>C++</p>
                    <br>
                    <p>Python</p>
                    <br>
                    <p>HTML</p>
                    <br>
                    <p>JavaScript</p>
            </div>
            <div class="threecol">
                    <p>C++</p>
                    <br>
                    <p>HTML</p>
                    <br>
                    <p>Java</p>
                    <br>
                    <p>JavaScript</p>
                    <br>
                    <p>Python</p>
            </div>
            <div class="threecol">
                    <p>C++</p>
                    <br>
                    <p>Python</p>
                    <br>
                    <p>JavaScript</p>
                    <br>
                    <p>HTML</p>
                    <br>
                    <p>Java</p>
            </div>
            <div class="threecol last">
                    <p>JavaScript</p>
                    <br>
                    <p>C++</p>
                    <br>
                    <p>Java</p>
                    <br>
                    <p>HTML</p>
                    <br>
                    <p>Python</p>
            </div>
    </div>
</template>

<template name="editExtra">
	<h2>Extra Information</h2>
	<div class="twelvecol">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, illum, perspiciatis, quia eligendi amet animi impedit adipisci atque iste cum porro ex vero neque reiciendis sequi quisquam ipsam? In, dicta.</p>
	</div>
</template>

<template name="editContact">
    <h2>Contact Information</h2>        
        <div class="twelvecol">
                <div class="twocol">
                        <p>E-mail:</p>
                        <br>
                        <p>Phone:</p>
                        <br>
                        <p>Address:</p>
                        <br>
                        <p>Website:</p>
                </div>
                <div class="fourcol">
                        <p>john.smith@email.com</p>
                        <br>
                        <p>(123)456-7890</p>
                        <br>
                        <p>1234 Main Street</p>
                        <br>
                        <p>www.mywebsite.com</p>
                </div>
        </div>
</template>