<template name="profile">
	{{#if ownsProfile}}
		<a href="{{pathFor 'edit' _id=_id}}">Edit</a>
	{{/if}}
	
	{{{profileType}}}
</template>

<template name="studentProfile">
	<div class="profile">
		<div class="info row">
			<div class="fourcol image">
				<img src="{{user/profile/avatar}}" alt="student"/>
			</div>
			<div class="eightcol last">
				<h3>Welcome {{user/profile/fname}} {{user/profile/lname}}!</h3>
				<ul>
					<li>{{user/emails/0/address}}</li>
					<li>{{user/profile/school}}</li>
					<li>{{user/profile/major}}, {{user/profile/gradYear}}</li>
					<li>Account Type: {{user/profile/type}}</li>
				</ul>
			</div>
		</div>
		<div class="detail row">
			<div class="twelvecol">
				<ul class="detail-nav">
					<li><a href="#">Showcase</a></li>
					<li><a href="#">Experience</a></li>
					<li><a href="#">School</a></li>
					<li><a href="#">Skills</a></li>
					<li><a href="#">Extra</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="detail-section">
					{{{detailSection user}}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="employerProfile">
	<div class="profile">
		<div class="info row">
			<div class="fourcol image">
				<img src="/images/recruiter.jpg" />
			</div>
			<div class="eightcol last">
				<h3>Welcome {{user/profile/fname}} {{user/profile/lname}}!</h3>
				<ul>
					<li>Tesla Motors, Inc.</li>
					<li>Palo Alto, California</li>
					<li>Account Type: {{user/profile/type}}</li>
				</ul>
			</div>
		</div>
		<div class="detail row">
			<div class="twelvecol">
				<ul class="detail-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Internships</a></li>
					<li><a href="#">Calendar</a></li>
					<li><a href="#">Contact</a></li>	
				</ul>
				<div class="detail-section">
					{{{detailSection}}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="facultyProfile">
	<div class="profile">
		<div class="info row">
			<div class="fourcol image">
				<img src="/images/recruiter.jpg"/>
			</div>
			<div class="eightcol last">
				<h3>Welcome {{user/profile/fname}} {{user/profile/lname}}!</h3>
				<ul>
					<li>California State University, Chico</li>
					<li>Chico, CA</li>
					<li>Account Type: {{user/profile/type}}</li>
				</ul>
			</div>
		</div>
		<div class="detail row">
			<div class="twelvecol">
				<ul class="detail-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="detail-section">
				{{{detailSection}}}
			</div>
		</div>
	</div>
</template>

<template name="studentShowcase">
	<div class="showcase">
		<div class="fivecol">
		<h2>About Me</h2>
			<p>{{this/profile/about}}</p>
		</div>
		<div class="sevencol last">
			<iframe src="//player.vimeo.com/video/76757058" width="510" height="287" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</template>

<template name="studentExperience">
	<div class="experience">
		<h2>Work Experience</h2>
		{{this/profile/workExperience}}
	</div>
</template>

<template name="studentSchool">
	<h2>School Experience</h2>
	<p>Todo</p>
</template>

<template name="studentSkills">
    <h2>Skills</h2>
    {{this/profile/skills}}
</template>

<template name="studentExtra">
	<h2>Extra Information</h2>
	<div class="twelvecol">
		<p>{{this/profile/externalExperience}}</p>
	</div>
</template>

<template name="studentContact">
    <h2>Contact Information</h2>        
        <div class="twelvecol">
            <div class="twocol">
                <p>E-mail:</p>
                <br>
                <p>Phone:</p>
                <br>
                <p>Address:</p>
                <br>
                <p>Website:</p>
            </div>
            <div class="fourcol">
                <p>{{this/profile/contactEmail}}</p>
                <br>
                <p>{{this/profile/phone}}</p>
                <br>
                <p>{{this/profile/address}}</p>
                <br>
                <p>{{this/profile/website}}</p>
            </div>
        </div>
</template>

<template name="employerAbout">
	<div class="twelvecol">
		<h3>About</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quam esse ad totam nostrum quas! Nesciunt, hic, nulla itaque unde a eligendi ipsum molestiae velit! Voluptatum, odit dolore atque at! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, error voluptates natus sunt tenetur ea eligendi consectetur magni reiciendis dolore. Praesentium, rerum modi sit nemo exercitationem accusamus cupiditate distinctio architecto!</p>
	</div>
</template>

<template name="employerJobs">
	<h3>Jobs</h3>
	<div class="twelvecol">
		<h3>New Hire (Electrical)</h3>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="twelvecol">
		<h3>New Hire (Mechanical)</h3>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="twelvecol">
		<h3>New Hire (Sales)</h3>
		<p><strong>Department:</strong> Sales</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="twelvecol">
		<h3>New Hire (Developer)</h3>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
</template>

<template name="employerInternships">
	<h3>Internships</h3>
	<div class="twelvecol">
		<h3>Summer Intern 2014 (Electrical)</h3>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="twelvecol">
		<h3>Summer Intern 2014 (Mechanical)</h3>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="twelvecol">
		<h3>Summer Intern 2014 (Developer)</h3>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="twelvecol">
		<h3>Summer Intern 2014 (Sales)</h3>
		<p><strong>Department:</strong> Sales</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
</template>

<template name="employerCalendar">
	<div class="twelvecol">
		<h3>Calendar</h3>
		<img src="/images/calendar.jpg">
	</div>
</template>

<template name="employerContact">
	<div class="twelvecol">
		<h3>Contact</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ducimus, voluptatem ex vitae doloribus aspernatur explicabo iusto ullam distinctio possimus cumque natus officiis voluptate officia repellendus magnam quam quidem voluptatibus!</p>
	</div>
</template>

<template name="facultyAbout">
	<div class="twelvecol">
		<h3>About</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, incidunt, rem neque saepe amet ex quis adipisci culpa quae consequuntur laudantium veniam ullam molestias consectetur perferendis ipsam nesciunt a! Perferendis!</p>
	</div>
</template>

<template name="facultyContact">
	<div class="twelvecol">
		<h3>Contact</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, esse, natus in libero repellendus non a labore asperiores voluptatem ab consequatur voluptas velit doloremque delectus voluptate voluptates illo similique reprehenderit.</p>
	</div>
</template>