<template name="schools">
	<h3>Schools</h3>
	<div class="twelvecol school-listings">
		{{#each this}}
			{{> school}}
		{{/each}}
	</div>
</template>

<template name="school">
	<div class="school">
        <img src="/images/school.jpg"/>
		<p><a href="{{pathFor 'schoolDetails' _id=this/_id}}">{{name}}</a></p>

	</div>
</template>

<template name="schoolDetails">
    <div class="profile">
        <div class="info row">
            <h3>Name: {{name}}</h3>
        </div>
        <div class="detail row">
            <div class="twelvecol">
                <ul class="detail-nav">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Colleges</a></li>
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="detail-section">
                    {{{detailSection school}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="schoolAbout">
    <h1> about </h1>
</template>

<template name="schoolColleges">
<div class="twelvecol">
        <div class="twelvecol">
            <div class="twelvecol">
                <div class="fourcol">
                    <img src="/images/computer.png" alt="computer"/>
                </div>
                    <div class="eightcol last">
                        <h3>Computer Science</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
                        <p><a href="http://csci.ecst.csuchico.edu">CSUC Computer Science Website</a></p>
                    </div>
                </div>
                <div class="twelvecol">
                    <div class="fourcol">
                        <button>Donate Now!</button></a>
                    </div>
                </div>
            </div>

            <div class="twelvecol">
                <div class="twelvecol">
                    <div class="eightcol">
                        <h3>Computer Engineering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
                        <p><a href="http://www.csuchico.edu/eece/">CSUC Computer Engineering Website</a></p>
                    </div>
                    <div class="fourcol last">
                        <img src="/images/comp_eng.jpg" alt="computer engineering"/>
                    </div>
                </div>
                <div class="twelvecol">
                    <div class="eightcol"></div>
                        <div class="fourcol last">
                            <button>Donate Now!</button></a>
                        </div>
                    </div>
                </div>

                <div class="twelvecol">
                    <div class="twelvecol">
                        <div class="fourcol"><img src="/images/gears.png" alt="mechanical"/></div>
                            <div class="eightcol last">
                                <h3>Mechanical Engineering</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
                                <p><a href="http://www.csuchico.edu/mmem/">CSUC Mechanical Engineering Website</a></p>
                            </div>
                        </div>
                        <div class="twelvecol">
                            <div class="fourcol">
                                <button>Donate Now!</button></a>
                            </div>
                        </div>
                </div>

                <div class="twelvecol">
                    <div class="twelvecol">
                        <div class="eightcol">
                            <h3>Civil Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde        veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
                            <p><a href="http://www.csuchico.edu/ce/">CSUC Civil Engineering Website</a></p>
                        </div>
                        <div class="fourcol last">
                            <img src="/images/bridge.png" alt="civil"/>
                        </div>
                    </div>
                    <div class="twelvecol">
                        <div class="eightcol">
                        </div>
                        <div class="fourcol last">
                            <button>Donate Now!</button></a>
                        </div>
                    </div>
                </div>

                <div class="twelvecol">
                    <div class="twelvecol">
                        <div class="fourcol"><img src="/images/electrical.jpg" alt="electrical"/></div>
                            <div class="eightcol last">
                                <h3>Electrical Engineering</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
                                <p><a href="http://www.csuchico.edu/eece/">CSUC Electrical Engineering Website</a></p>
                            </div>
                        </div>
                    <div class="twelvecol">
                        <div class="fourcol">
                            <button>Donate Now!</button></a>
                        </div>
                    </div>
                </div>

                <div class="twelvecol">
                    <div class="twelvecol">
                        <div class="eightcol">
                            <h3>Mechatronic Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde    veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
                            <p><a href="http://www.csuchico.edu/mmem/">CSUC Mechatronic Engineering Website</a></p>
                        </div>
                        <div class="fourcol last"><img src="/images/mecha.jpg" alt="mechatronic"/></div>
                    </div>
                    <div class="twelvecol">
                        <div class="eightcol"></div>
                        <div class="fourcol last">
                            <button>Donate Now!</button></a>
                        </div>
                    </div>
                </div>

                <div class="twelvecol">
                <div class="twelvecol">
                    <div class="fourcol">
                        <img src="/images/const_mgmt.jpg" alt="construction mgmt"/>
                    </div>
                    <div class="eightcol last">
                        <h3>Construction Management</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
                        <p><a href="http://www.csuchico.edu/cm/">CSUC Construction Management Website</a></p>
                    </div>
                </div>
                <div class="twelvecol">
                    <div class="fourcol">
                        <button>Donate Now!</button></a>
                    </div>
                </div>
        </div>
    </div>
</template>

<template name="schoolStudents">
    <h1>students</h1>
    <ul>
        {{#each studentMembers}}
            <li><a href="{{pathFor 'profile' _id=_id}}">{{profile/fname}} {{profile/lname}}</a></li>
        {{/each}}
    </ul>
</template>

<template name="schoolFaculty">
    <h1>faculty</h1>
    {{name}}
    <u1>
        {{#each facultyMembers}}
            <li><a href="{{pathFor 'profile' _id=_id}}">{{profile/fname}} {{profile/lname}}</a></li>
        {{/each}}
    </ul>
</template>

<template name="schoolCalendar">
    <h1>calendar</h1>
</template>

<template name="schoolContact">
    <h1>contact</h1>
</template>