<template name="layout">
<head>
	<title>Fresh Meet</title>
</head>
<body>
	<head>
		<title>freshmeet</title>
	</head>
	<body>
		<div class="container">
			<div class="row header">
				{{> header}}
			</div>
			<div class="row nav">
				{{> nav}}
			</div>
			<div class="row errors">
				{{> errors}}
			</div>
			<div class="row main">
				{{yield}}
			</div>
			<div class="row footer">
				{{> footer}}
			</div>
		</div>
	</body>
</template>
<!--we would like to change banner to just text or a simple logo once we have a name-->
<template name="header">
	<div class="twelvecol">
		<a href="{{pathFor 'home'}}"><img src="/images/FM_banner.jpg" alt="Banner"/></a>
	</div>
</template>

<template name="nav">
	<ul class="directory eightcol">
		<li><a href="{{pathFor 'students'}}">Students</a></li>
		<li><a href="{{pathFor 'faculty'}}">Faculty</a></li>
		<li><a href="{{pathFor 'employers'}}">Employers</a></li>
		<li><a href="{{pathFor 'companies'}}">Companies</a></li>
		<li><a href="{{pathFor 'jobs'}}">Jobs</a></li>
		<li><a href="{{pathFor 'schools'}}">Schools</a></li>
	</ul>
	<ul class="controls fourcol last">
		{{#if isLoggedIn}}
			<li><a href="{{pathFor 'dashboard' _id=profileId}}">Dashboard</a></li>
			<li><a href="{{pathFor 'profile' _id=profileId}}">Profile</a></li>
			<li><a class="logout-link" href="#">Logout</a></li>
		{{else}}
			<li><a href="{{pathFor 'register'}}">Register</a></li>
			<li><a href="{{pathFor 'login'}}">Login</a></li>
		{{/if}}
	</ul>
</template>

<template name="footer">
	<a href="{{pathFor 'about'}}">About</a>
	<a href="{{pathFor 'contact'}}">Contact</a>
	<span class="twelvecol">Fresh Meet &copy; 2013</span>

</template>