<template name="about">
	<div class="about">
		<div class="row"><h2>Mission Statement</h2></div>
      <p>To connect college students and recent college graduates with employers in their field using an efficient matching algorithim.</p>
    <div class="row"><h2>Our Team</h2></div>
		<div class="row">
			<div class="fourcol"><img src="/images/NaomiFace.jpg" alt="student"/></div>
			<div class="eightcol last">
				<h3>Naomi Miller</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
		</div>
		<div class="row">
			<div class="eightcol">
				<h3>Taylor Carrington</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p> </div>
			<div class="fourcol last"><img src="/images/student.jpg" alt="student"/></div>
		</div>
		<div class="row">
			<div class="fourcol"><img src="/images/tim.jpg" alt="student"/></div>
			<div class="eightcol last">
				<h3>Tim Whitaker</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
		</div>
		<div class="row">
			<div class="eightcol">
				<h3>Chad Cahill</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
			<div class="fourcol last"><img src="/images/ChadFace.jpg" alt="student"/></div>
		</div>
		<div class="row">
			<div class="fourcol"><img src="/images/student.jpg" alt="student"/></div>
			<div class="eightcol last">
				<h3>Daniel Levine</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
		</div>
		<div class="row">
			<div class="eightcol">
				<h3>Jon Huraway</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, debitis commodi totam nulla unde veritatis eius quo adipisci itaque facilis labore nostrum nesciunt animi nihil provident libero vel iure recusandae.</p>
			</div>
			<div class="fourcol last"><img src="/images/student.jpg" alt="student"/></div>
		</div>
	</div>
</template>
