<template name="home">
	<div class="row intro">
		<h1>Welcome!</h1>
    <p>This is the best place for college students and recent graduates to connect with employers in their field. Sign up today and find the perfect fit for you!</p>
	</div>
	<div class="row home">
		<div class="fourcol intro-desc">
			<h2>Students</h2>
			<img src="/images/student.jpg" alt="Student"/>
      <p>Want to get a head start on your career and land the perfect summer internship? Start your job search today and be employed by graduation! Sign up now!</p>
		</div>
		<div class="fourcol intro-desc">
			<h2>Companies</h2>
			<img src="/images/company.jpg" alt="Company"/>
      <p>Find students with a specific skillset in mind. Our smartMatch algorithim pairs qualified students and recent graduates to specific jobs. Sign up today and start the search for fresh employees!</p>
		</div>
		<div class="fourcol last intro-desc">
			<h2>Schools</h2>
			<img src="/images/school.jpg" alt="School"/>
      <p>Drastically improve the rate of hired graduates from your School! Join to give your students easy access to a wide variety of employers!
		</div>
	</div>
	<div class="row join-row">
		<div class="fourcol">
			<a href="{{pathFor 'register'}}"><button class="join-now student-signup">Get me that job!</button></a>
		</div>
		<div class="fourcol">
			<a href="{{pathFor 'register'}}"><button class="join-now company-signup">Start Searching!</button></a>
		</div>
		<div class="fourcol last">
			<a href="{{pathFor 'register'}}"><button class="join-now school-signup">Sign Up!</button></a>
		</div>
	</div>
</template>
