<template name="profilecompany">
	<div class="twelvecol">
		{{> company}}
	</div>
</template>

<template name="company">
	<div class="twelvecol">
		<div class="fourcol">
			<img src="/images/tesla.png">
		</div>
		<div class="eightcol last">
			<h1>Tesla Motors, Inc.</h1>
			<p><strong>Industry:</strong> Automotive</p>
			<p><strong>Headquarters:</strong> Palo Alto, California</p>
		</div>
	</div>


	<div class="row join-row" align="center">
		<div class="twocol">
		</div>
		<div class="twocol">
			<button class="join-now about-button">About</button></a>
		</div>
		<div class="twocol">
			<button class="join-now job-button">Jobs</button></a>
		</div>
		<div class="twocol">
			<button class="join-now internship-button">Internships</button></a>
		</div>
		<div class="twocol">
			<button class="join-now recruiter-button">Recruiters</button></a>
		</div>
		<div class="twocol last">
		</div>

	</div>

	<!--display main content -->

    {{#if isAbout}}
        {{> aboutSection}}
    {{/if}}
    {{#if isJob}}
        {{> jobSection}}
    {{/if}}
    {{#if isInternship}}
        {{> internshipSection}}
    {{/if}}
    {{#if isRecruiter}}
        {{> recruiterSection}}
    {{/if}}

</template>

<template name="aboutSection">
	<div class="twelvecol">
		<p>Tesla Motors, Inc. (Tesla) designs, develops, manufactures and sells electric vehicles and advanced electric vehicle powertrain components. Tesla owns its sales and service network. The Company is engaged in commercially producing a federally-compliant electric vehicle, the Tesla Roadster. addition to developing its Model S and future vehicle manufacturing capabilities at the Tesla Factory, the Company is designing, developing and manufacturing lithium-ion battery packs, electric motors, gearboxes and components both for its vehicles and for its original equipment manufacturer customers. These activities occur at its electric powertrain manufacturing facility in Palo Alto, California and at the Tesla Factory. The Company provides services for the development of electric powertrain components and sells electric powertrain components to other automotive manufacturers. </p>
	</div>
</template>

<template name="jobSection">
	<div class="container twelvecol">
		<h1>New Hire (Electrical)</h1>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="container twelvecol">
		<h1>New Hire (Mechanical)</h1>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="container twelvecol">
		<h1>New Hire (Developer)</h1>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="container twelvecol">
		<h1>New Hire (Sales)</h1>
		<p><strong>Department:</strong> Sales</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
</template>

<template name="internshipSection">
	<div class="container twelvecol">
		<h1>Summer Intern 2014 (Electrical)</h1>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="container twelvecol">
		<h1>Summer Intern 2014 (Mechanical)</h1>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="container twelvecol">
		<h1>Summer Intern 2014 (Developer)</h1>
		<p><strong>Department:</strong> Engineering</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
	<div class="container twelvecol">
		<h1>Summer Intern 2014 (Sales)</h1>
		<p><strong>Department:</strong> Sales</p>
		<p><strong>Location:</strong> Palo Alto</p>
	</div>
</template>

<template name="recruiterSection">
	<div class="container twelvecol">
		<a href="{{pathFor 'profilerecruiter'}}"><h1>John Doe</h1></a>
		<p><strong>Department:</strong> Embedded Systems</p>
		<p><strong>Location:</strong> Palo Alto</p>
		<p><strong>Looking For:</strong> New Grads & Interns</p>
	</div>
	<div class="container twelvecol">
		<a href="{{pathFor 'profilerecruiter'}}"><h1>Susan Smith</h1></a>
		<p><strong>Department:</strong> Embedded Systems</p>
		<p><strong>Location:</strong> Palo Alto</p>
		<p><strong>Looking For:</strong> New Grads & Interns</p>
	</div>
	<div class="container twelvecol">
		<a href="{{pathFor 'profilerecruiter'}}"><h1>James Miller</h1></a>
		<p><strong>Department:</strong> Embedded Systems</p>
		<p><strong>Location:</strong> Palo Alto</p>
		<p><strong>Looking For:</strong> New Grads & Interns</p>
	</div>
	<div class="container twelvecol">
		<a href="{{pathFor 'profilerecruiter'}}"><h1>Jessica Wilson</h1></a>
		<p><strong>Department:</strong> Embedded Systems</p>
		<p><strong>Location:</strong> Palo Alto</p>
		<p><strong>Looking For:</strong> New Grads & Interns</p>
	</div>
</template>