<template name="profilestudent">
	<div class="twelvecol">
		{{> student}}
	</div>
</template>

<template name="student">
	<div class="twelvecol">
		<div class="fourcol">
			<img src="/images/student.jpg" alt="student"/>
		</div>
		<div class="eightcol last">
			<h1>John Smith</h1>
			<p>California State University, Chico</p>
			<p>Computer Science, May 2016</p>
		</div>
	</div>
	<!--button select -->
	<!--ask tim about formatting radio buttons -->

	<div class="row join-row">
		<div class="twocol">
			<button class="join-now showcase-button">Showcase</button></a>
		</div>
		<div class="twocol">
			<button class="join-now work-button">Work</button></a>
		</div>
		<div class="twocol">
			<button class="join-now school-button">School</button></a>
		</div>
		<div class="twocol">
			<button class="join-now skills-button">Skills</button></a>
		</div>
		<div class="twocol">
			<button class="join-now extra-button">Extra</button></a>
		</div>
		<div class="twocol last">
			<button class="join-now contact-button">Contact</button></a>
		</div>
	</div>

	<!--display main content -->

    {{#if isShowcase}}
        {{> showCaseSection}}
    {{/if}}

    {{#if isWork}}
        {{> workSection}}
    {{/if}}
    {{#if isSchool}}
        {{> schoolSection}}
    {{/if}}
    {{#if isSkills}}
        {{> skillsSection}}
    {{/if}}
    {{#if isExtra}}
        {{> extraSection}}
    {{/if}}
    {{#if isContact}}
        {{> contactSection}}
    {{/if}}
</template>

<template name="showCaseSection">
	<div class="twelvecol">
		<div class="twelvecol" align="center">
			<h3>Showcase</h3>
		</div>	
		<div class="sixcol">
			<p><strong>About</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem!</p>
		</div>
		<div class="sixcol last">
			<iframe src="//player.vimeo.com/video/76757058" width="450" height="253" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</template>


<template name="workSection">
	<div class="twelvecol">
		<div class="twelvecol" align="center">
			<h3>Work Experience</h3>
		</div>	
		<div class="twelvecol">
			<p><strong>GOOGLE</strong> -- Software Engineer Intern, <strong>Summer 2013</strong></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! </p>
		</div>
		<div class="twelvecol">
			<p><strong>FACEBOOK</strong> -- Software Engineer Intern, <strong>Summer 2012</strong></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! </p>
		</div>
		<div class="twelvecol">
			<p><strong>MICROSOFT</strong> -- Software Engineer Intern, <strong>Summer 2011</strong></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! </p>
		</div>
	</div>
</template>

<template name="schoolSection">
	<div class="twelvecol" align="center">
		<h3>School Work</h3>
	</div>	
	<div class="twelvecol">
		<p><strong>Projects:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! </p>
	</div>
	<div class="twelvecol">
		<p><strong>Classes:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! </p>
	</div>
	<div class="twelvecol">
		<p><strong>Clubs/Organizations:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! </p>
	</div>
</template>

<template name="skillsSection">
	<div class="twelvecol" align="center">
		<h3>Skills</h3>
	</div>	
	<div class="twelvecol">
		<!--filler format -->
		<div class="threecol">
			<p>Java</p>
			<br>
			<p>C++</p>
			<br>
			<p>Python</p>
			<br>
			<p>HTML</p>
			<br>
			<p>JavaScript</p>
		</div>
		<div class="threecol">
			<p>C++</p>
			<br>
			<p>HTML</p>
			<br>
			<p>Java</p>
			<br>
			<p>JavaScript</p>
			<br>
			<p>Python</p>
		</div>
		<div class="threecol">
			<p>C++</p>
			<br>
			<p>Python</p>
			<br>
			<p>JavaScript</p>
			<br>
			<p>HTML</p>
			<br>
			<p>Java</p>
		</div>
		<div class="threecol last">
			<p>JavaScript</p>
			<br>
			<p>C++</p>
			<br>
			<p>Java</p>
			<br>
			<p>HTML</p>
			<br>
			<p>Python</p>
		</div>
	</div>
</template>

<template name="extraSection">
	<div class="twelvecol" align="center">
		<h3>Extra Information</h3>
	</div>	
	<div class="twelvecol">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem!</p>
	</div>
</template>

<template name="contactSection">
	<div class="twelvecol" align="center">
		<h3>Contact Information</h3>
	</div>	
	<div class="twelvecol">
		<div class="twocol">
			<p>E-mail:</p>
			<br>
			<p>Phone:</p>
			<br>
			<p>Address:</p>
			<br>
			<p>Website:</p>
		</div>
		<div class="fourcol">
			<p>john.smith@email.com</p>
			<br>
			<p>(123)456-7890</p>
			<br>
			<p>1234 Main Street</p>
			<br>
			<p>www.mywebsite.com</p>
		</div>
	</div>
</template>
