<template name="profileschool">
	<div class="twelvecol">
		{{> school}}
	</div>
</template>

<template name="school">
	<div class="twelvecol" align="center">
		<img src="/images/banner03.png">
		<h1>California State University, Chico</h1>
	</div>
	<div class="twelvecol">
		<div class="sixcol">
			<p><strong>General Information</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, at voluptates eaque atque culpa maiores maxime doloremque voluptatibus repellat dicta tempora fugit expedita saepe perferendis reprehenderit sequi soluta possimus autem!<p>
		</div>
		<div class="sixcol last">
			<p>...what goes here?<p>

	</div>

</template>
