<template name="jobForm">
	<div class="fourcol">
		<label for="title">Job Title</label>
		<input type="text" name="title" id="title" />

		<label for="description">Job Description</label>
		<input type="text" name="description" id="description" />

		<label for="GPAweight">GPA Importance (0 - 4)</label>
		<input type="text" name="GPAweight" id="GPAweight" />

		<label for="workExweight">Work Experience Importance (0 - 4)</label>
		<input type="text" name="workExweight" id="workExweight" />

		<label for="exProjweight">External Projects Importance (0 - 4)</label>
		<input type="text" name="exProjweight" id="exProjweight" />

		<label for="classweight">Current Class Year Importance (0 - 4)</label>
		<input type="text" name="classweight" id="classweight" />

		<label for="skillsweight">Related Skills Importance (0 - 4)</label>
		<input type="text" name="skillsweight" id="skillsweight" />

		<button class="submit">Post Listing</button>	
	</div>
</template>
